html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 100px;
  }

  p {
    color: greenyellow
  }

  h2 {
      color: yellow
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 16px;;
    background-color: #f5f5f5;
  }